<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pizzaverse</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div id="container">

    <div id="menu_bar">
        <a class="active" href="#">Menu 1</a>
        <a href="#">Menu 2</a>
        <a href="#">Menu 3</a>
    </div>

    <div id="content">

        <h1>Sample page.</h1>

        <table>
            <tr>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.1GOjW2VmJAWOjqzyqfFEtAHaH0%26pid%3DApi&f=1" alt="sunflower" />
                </td>
                <td><a href="#">Sunflower</a> - the most beautiful flower in the world!</td>
            </tr>
            <tr>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.royalcanin-weshare-online.io%2F0jJu5m8BN5A8uWWAVzOI%2Fv1%2Fkgst12-three-kittens-on-a-white-rug&f=1&nofb=1" alt="kitten" />
                </td>
                <td><a href="#">Little Kittens</a> - how cute they are!</td>
            </tr>
            <tr>
                <td>
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIF.%252bXjUcCMpo3O84QphnSGeCQ%26pid%3DApi&f=1" alt="Picard" />
                </td>
                <td><a href="#">Picard</a> - Things are only impossible until they are not.</td>
            </tr>
        </table>

    </div>

</div>

</body>

</html>