<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pizzerias</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="container">

    <div id="menu_bar">
        <a data-th-href="@{/home}">Menu 1</a>
        <a class="active" data-th-href="@{/pizzerias}">Pizzerias</a>
        <a data-th-href="@{/pizzas}">Pizzas</a>
    </div>

    <div id="content">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Opening time</th>
                <th>Closing time</th>
            </tr>
            <tr data-th-each="pizzaPlace : ${pizzaPlaces}">
                <td data-th-text="${pizzaPlace.id}"></td>
                <td data-th-text="${pizzaPlace.name}"></td>
                <td data-th-text="${pizzaPlace.address}"></td>
                <td data-th-text="${pizzaPlace.openingTime}"></td>
                <td data-th-text="${pizzaPlace.closingTime}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>